{% extends 'base.html' %}
{% block body %} 
<div class="card bg-primary text-white text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>We are offering our services in <strong>ADARE</strong></p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            MOST FAMOUS IRISH ICECREAMS <cite title="Source Title">TRY IT ONCE</cite>
          </figcaption>
        </figure>
      </div>
      
     <img src="/static/11.jpg" class="d-block w-100" alt="...">
     <div class = "container my-4">
     <p><strong>“Like magic, she felt him getting nearer, felt it like a pull in the pit of her stomach.</strong></p>
     </div>

{% endblock body %}  
