{% extends 'base.html' %}
{% block body %} 
<div class = "container-fluid my-4 px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/1.jpg.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        
        <p><strong>VARIETY OF ICECREAMS ARE THERE</strong></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p><strong>DELICIOUS ICECREAMS ARE THERE YOU JUST ORDER IT</strong></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p><strong>VARIETY AND TASTE IS LIFE</strong></p>
      </div>
    </div>
  </div>
  <h1 class ="my-4 text-center">JUST PLACE YOUR ORDER..</h1>
  <div class = "container">

        <p><strong>Ice cream (derived from earlier iced cream or cream ice) is a sweetened frozen food typically eaten as a snack or dessert. It may be made from dairy milk or cream and is flavoured with a sweetener, either sugar or an alternative, and any spice, such as cocoa or vanilla. Colourings are usually added, in addition to stabilizers. The mixture is stirred to incorporate air spaces and cooled below the freezing point of water to prevent detectable ice crystalsfrom forming,We are offering our services in ADARE</strong></p>

        <h1 class= "text-center"><strong>CONTACT US TO KNOW MORE ABOUT US.</strong></h1>
        </div>
  <div class = "container">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/4.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">TRY IT</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="/static/5.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">DELICIOUS</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/6.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">SHOPERIO</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/7.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">SORBET</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/8.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">JERRYBEACH</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/9.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">MALICA</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="footer-rights">
                    Copyright © ICECHOCO. All rights reserved.
                </div>
        

  </div><!-- /.row -->

</main>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>





{% endblock body %}  
